* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

body {
  background-color: #79031d;/*rgba(121, 3, 29, 75%);*/ 
  margin: 0 auto;
  padding: 0 15px;
  border: 0;
}

/*Background settings*/

.background {
  /*background-image: url('images-2/deku1.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  background-color: #e6d094;
  
}

.background::after {
  background-image: url('../MEDIA/deku_A.M..jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  opacity: 0.50;
}

.background::before {
  background-image: url('images/deku_A.M..jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  z-index: -3;
  opacity: 0.50;
}

/*Navigation settings*/

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0;
  min-height: 100px;
  max-height: auto;
  height: auto;
  width: 100%;
  background-color: #79031d;
  /*border: solid 2px #f00f0f;*/

}

.nava {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: solid 1px #edb518;
  border-radius: 5%;
  margin: 10px;
  padding: 8px 3px;
  font-size: 30px;
  color:#edb518;
  flex: 1 3 auto;
}

/*.box1 {
  display: flex;
  flex: 1 3 auto;
}
.box2 {
  display: inherit;
  flex: 3 1 auto;
}*/


.nava:hover {
  display: inline-flex;
  margin: 10px 10px;
  border: 1px solid #79031d;
  border-radius: 5%;
  background-color: #79031d;
  color:#edb518;
}
  

h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  width: 400;
  margin: 50px auto; 
  color: #79031d;;
  }

img {
  display: inherit;
  box-sizing: border-box;
  border: solid 2px #41403c;
  border-radius: 3%;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

/*About Me Section*/

/*Container settings*/

.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  /*position: relative;*/
  margin: 10px auto;
  /*min-width: 500px;*/
  /*max-height: 600px;*/
}

.container-1 h2 {
 color: #79031d;
}

/*About settings*/

.about-1 {
  display: inline-block;
  padding: 20px 30px;
  margin: 10px auto;
  min-height: 250px;
  max-height: 550px;
  min-width: 200px;
  max-width: 450px;
  text-align: center;
}

.about-1 h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding-top: 20px;
}

.about h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.about p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: larger;
}

.about a {
    color: #00008b;
}

.about ul {
  padding-top: 20px;
}

.about li {
  margin-left: 30px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  color: #41403c;
}

.about-2 {
  display: inline-block;
  height: 400px;
  min-width: 300px;
  max-width: 500px;
  margin: 10px auto;
}

/*Learn Section*/

.learn {
    display: flexbox;
    margin-top: 60px;
}

.learn h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: underline;
  text-shadow: #000407;
  color: #79031d;
  margin-left: 10px;
}

.learn p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  color: #000407;
  margin: 10px 60px 10px 60px;
  padding-top: 20px;
  text-align: center;
}

/*Project Section*/

.project-heads h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-shadow: rgb(70, 65, 65);
  color: #79031d;
  margin: 10px auto;
  padding-top: 10px;
  margin-top: 20px;
}

.project-heads h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px auto;
  padding-top: 10px;
  color: #000407;
}

.projects {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 5px auto;
  padding: 0 10px;
  min-width: 400px;
  max-width: 900px;
  height: 100%;
  

  /*border: 1px solid rgb(14, 17, 187);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  grid-auto-columns: 2;
  grid-auto-rows: 5fr;*/
}

.project {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #79031d;
  color:#edb518;
  /*border: 1px solid rgb(209, 253, 11);*/
  border-radius: 5%;
  height: 40px;
  margin: 20px 25px;
  margin-top: 15px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  min-width: 200px;
}


.project a:hover, .project:hover {
  background-color: #000407;
  border: 1px solid #79031d;
  color:  #79031d;
  text-shadow: 1px 1px 2px #ffffff;
  padding-bottom: 10px;

}

project:active {
  background-color: #edb518;
  border: 1px solid #79031d;
  color:  #000407;
}

.project a {
  background-color: #79031d;
  /*border: 1px solid rgb(209, 253, 11);*/
  border-radius: 5%;
  margin: 10px 10px;
  margin-top: 20px;
  padding: 5px 5px 5px 5px;
  color: #000407;
  text-align: center;
}


/*Goals Section*/

.goals {
  margin: 0px auto;
  
}

.goals h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-shadow: rgb(70, 65, 65);
  color: #79031d;
  margin-top: 10px;
}

.goals p {
  display: flex;
  justify-content: center;
  color:rgb(0, 0, 0);
  margin: 10px 10px;
  text-align: left;
  padding-top: 10px;
}

.goals li {
  display: flex;
  justify-content: center;
  margin: 3px auto;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(17, 17, 16);
}

/*Contact Section*/
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  padding: 5px 5px;
}

.contact h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-shadow: rgb(70, 65, 65);
  color: #79031d;
  margin-left: 40px;
  margin-top: 10px;
}

.contact h4 {
  display: flex;
  justify-content: start;
  margin: 5px auto;
  color: red;
}

.contact span {
  display: inline-flex;
  margin-left: 10px;
}